/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --backup-background: #FFF1F7;
  --main-font: IBM Plex Mono;
  --main-font-size: 18px;
  --main-text-color: #353430;
  --main-font-weight: 400;
  --main-font-style: normal;
  --main-line-height: 23.4px;
  --title-font-size: 18px;
  --title-color: #353430;
  --attractive-text-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --attractive-text-size-table-pk: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --attractive-text-color: #FFC2E6;
  --attractive-text-weight: 700;
  --attractive-text-line-height: 82.5%;
  --attractive-text-shadow: 4px 4px 0px #FF8DCB;
  --button-text-color: #353430;
  --active-button-border: 1px solid #353430;
  --hover-button-border: 1px solid rgba(50, 49, 45, 0.40);
  --focus-button-border: 1px solid #353430;
  --section-margin-bottom: 50px;
  --subtitle-font-size: 18px;
  --subtitle-text-color: #353430;
  --subtitle-font-weight: 700;
  --subtitle-font-style: normal;
  --subtitle-line-height: 23.4px;
  --subtitle-margin-bottom: 20px;
  --subsubtitle-font-size: 18px;
  --subsubtitle-text-color: #353430;
  --subsubtitle-font-weight: 700;
  --subsubtitle-font-style: normal;
  --subsubtitle-line-height: 23.4px;
  --subsubtitle-margin-bottom: 10px;
  --accent-paragraph-text-color: #353430;
  --accent-paragraph-margin-bottom: 10px;
  --paragraph-margin-bottom: 20px;
  --accent-text-color: #353430;
  --accent-bg-color: #FF8DCB;
  --link-shadow: 2px 2px 0 #FF8DCB;
  --focus-link-border: 1px solid #353430;
  --footer-attractive-text-color: #FFC2E6;
  --footer-attractive-text-shadow: 2px 2px 0px #FF8DCB;
}

/* Убрал лишние свойства. Всё остальное необходимо, чтобы верстка работала при разных цветовых темах. :root по заданию должен быть продублирован в dark.css и light.css*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background: var(--backup-background, #FFF1F7);
  background-image: url(../images/cover-image-light.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.theme_light .header::before {
  border-top: 1px solid #353430;
  border-right: 1px solid #353430;
}

.theme_light .header::after {
  border-bottom: 1px solid #353430;
  border-left: 1px solid #353430;
}

.theme_light .decoration-element::before {
  display: none;
}

.theme_light .decoration-element::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
        /* Дублируем переменные светлой темы */
        --backup-background: #FFF1F7;
        --main-font: IBM Plex Mono;
        --main-font-size: 18px;
        --main-text-color: #353430;
        --main-font-weight: 400;
        --main-font-style: normal;
        --main-line-height: 23.4px;
        --title-font-size: 18px;
        --title-color: #353430;
        --attractive-text-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        --attractive-text-size-table-pk: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        --attractive-text-color: #FFC2E6;
        --attractive-text-weight: 700;
        --attractive-text-line-height: 82.5%;
        --attractive-text-shadow: 4px 4px 0px #FF8DCB;
        --button-text-color: #353430;
        --active-button-border: 1px solid #353430;
        --hover-button-border: 1px solid rgba(50, 49, 45, 0.40);
        --focus-button-border: 1px solid #353430;
        --section-margin-bottom: 50px;
        --subtitle-font-size: 18px;
        --subtitle-text-color: #353430;
        --subtitle-font-weight: 700;
        --subtitle-font-style: normal;
        --subtitle-line-height: 23.4px;
        --subtitle-margin-bottom: 20px;
        --subsubtitle-font-size: 18px;
        --subsubtitle-text-color: #353430;
        --subsubtitle-font-weight: 700;
        --subsubtitle-font-style: normal;
        --subsubtitle-line-height: 23.4px;
        --subsubtitle-margin-bottom: 10px;
        --accent-paragraph-text-color: #353430;
        --accent-paragraph-margin-bottom: 10px;
        --paragraph-margin-bottom: 20px;
        --accent-text-color: #353430;
        --accent-bg-color: #FF8DCB;
        --link-shadow: 2px 2px 0 #FF8DCB;
        --focus-link-border: 1px solid #353430;
        --footer-attractive-text-color: #FFC2E6;
        --footer-attractive-text-shadow: 2px 2px 0px #FF8DCB;    
    
    }

/* Убрал лишние свойства. Всё остальное необходимо, чтобы верстка работала при разных цветовых темах. :root по заданию должен быть продублирован в dark.css и light.css*/

    .page {
      /* сохраните этот селектор в приведённом виде.
        Так стили написанные ниже будут иметь больший вес,
        чем стили в медиазапросе предпочтений пользователя
      */
      background: var(--backup-background, #FFF1F7);
      background-image: url(../images/cover-image-light.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .header::before {
      border-top: 1px solid #353430;
      border-right: 1px solid #353430;
    }
    
    .header::after {
      border-bottom: 1px solid #353430;
      border-left: 1px solid #353430;
    }

    .decoration-element::before {
      display: none;
    }

    .decoration-element::after {
      display: none;
    }

}